<p><mark>button.twig</mark></p>

{% if item.button_link %}
	<section>
		<div class="row">
			<div class="col lg:8 lg:offset-2">
				<a
					href="{{ item.button_link }}"
					class="button"
					target="_blank"
					rel="noopener"
				>{{ item.button_text ? item.button_text : 'Read more' }}</a>
			</div>
		</div>
	</section>
{% endif %}
