<p><mark>image.twig</mark></p>

{% if item.image and item.image_display_options == 'inline' %}

	<section>
		<div class="row">
			<div class="col lg:8 lg:offset-2">
				{% include 'includes/image.twig' %}
				{% include 'includes/caption.twig' with { caption: item.image_credit ? item.image_credit : item.image.caption } %}
			</div>
		</div>
	</section>

{% elseif item.image %}

	{% include 'includes/image.twig' %}
	{% include 'includes/caption.twig' with { caption: item.image_credit ? item.image_credit : item.image.caption } %}

{% endif %}
