<p><mark>images.twig</mark></p>

<section>
	<div class="row">
		{% for image in item.images %}
			<div class="col lg:6 md:6">
				{% include 'includes/image.twig' %}
				{% if image.caption %}
					<p class="caption">{{ image.caption }}</p>
				{% endif %}
			</div>
		{% endfor %}
	</div>
</section>
