{% if item.image and item.image_display_options == 'inline' %}

	<section>
		<div class="row">
			<div class="col lg:8 lg:offset-2">
				{% include 'includes/image.twig' with {
					size: 'grid',
					sizes: '(min-width: 1024px) 66vw, 100vw'
				} %}
				{% include 'includes/caption.twig' with { caption: item.image_credit ? item.image_credit : item.image.caption } %}
			</div>
		</div>
	</section>

{% elseif item.image %}

	{% include 'includes/image.twig' with { size: 'hero' } %}

	{% if item.image_credit or item.image.caption %}
		<div class="row">
			<div class="col lg:8 lg:offset-2">
				{% include 'includes/caption.twig' with { caption: item.image_credit ? item.image_credit : item.image.caption } %}
			</div>
		</div>
	{% endif %}

{% endif %}
