{# Layout: Content #}

{% if item.paragraphs %}
	<section>
		<div class="row">
			<div class="col lg:8 lg:offset-2">
				<div class="rte">
					{{ item.paragraphs }}
				</div>
			</div>
		</div>
	</section>
{% endif %}
