{% extends "base.twig" %}

{% block content %}

	<section>
		<div class="row">
			<div class="col">
				<h1>404</h1>
				<p>Sorry, we couldn't find what you're looking for.</p>
			</div>
		</div>
	</section>

{% endblock %}
