{% extends "base.twig" %}

{% block content %}

	<header>
		<div class="row">
			<div class="col">
				<h1>404</h1>
				<p class="beta">Sorry, we couldn't find what you're looking for.</p>
			</div>
		</div>
	</header>

	<section>
		<div class="row">
			<div class="col">
				<div class="rte">
					<p>Please try one of the following:</p>
					<ul>
						<li>Go back to the <a href="javascript:history.back();">previous page</a></li>
						<li>Visit the <a href="/">homepage</a></li>
						<li>Use the navigation to visit another page</li>
					</ul>
				</div>
			</div>
		</div>
	</section>

{% endblock %}
