{% extends "base.twig" %}

{% block content %}

	{% for post in first_post if posts.pagination.current == 1 %}
		{% include 'includes/hero--article.twig' with { article: post } %}
	{% endfor %}

	{% if fn('is_tag') %}
		<header>
			<div class="row">
				<div class="col">
					<h1>{{ title }}</h1>
				</div>
			</div>
		</header>
	{% else %}
		<h1 class="visually-hidden">{{ title }}</h1>
	{% endif %}

	{% include 'includes/posts.twig' %}

{% endblock %}
