{% extends "base.twig" %}

{% block content %}

	<h1 class="visually-hidden">{{ post.title }}</h1>
	{% include 'includes/hero--article.twig' with { article: Post(post.hero_article) } %}
	{# {% set ignore_ids = [Post(post.hero_article).id] %} #}

	{% for item in post.meta('sections') %}
		{% include 'home-builder/' ~ item.acf_fc_layout|replace({'_': '-'}) ~ '.twig' %}
	{% endfor %}

	{# <section>
		<div class="row">
			<div class="col">
				<h2>Latest News</h2>
			</div>
		</div>
		<div class="row">
			{{ fn('_mghd_filtered_posts', ignore_ids) }}
		</div>
	</section> #}

	{% include 'includes/posts.twig' with {
		heading: 'Latest News',
		posts: latest_news
	} %}

{% endblock %}
