{% extends "base.twig" %}

{% block content %}

	<div class="hero" role="banner">
		<img
			src="https://via.placeholder.com/1920x800"
			class="hero__image"
			alt=""
			loading="lazy"
		/>
		<div class="hero__logo">
			<div class="row">
				<div class="col">
					{% include 'icons/hunger_logo.svg' %}
				</div>
			</div>
		</div>
	</div>

	<section>
		<div class="row">
			<div class="col">
				<h2>Categories</h2>
			</div>
		</div>
		<div class="row">
			{% for post in spotlight|slice(0, 6) %}
				<div class="col md:6 lg:4">
					{% include ['includes/card--' ~ post.post_type ~ '.twig', 'includes/card.twig'] %}
				</div>
			{% endfor %}
		</div>
	</section>

	<section>
		<div class="row">
			<div class="col">
				<h2>Most Popular</h2>
			</div>
		</div>
		<div class="row">
			{% for post in spotlight|slice(6, 3) %}
				<div class="col md:6 lg:4">
					{% include ['includes/card--' ~ post.post_type ~ '.twig', 'includes/card.twig'] %}
				</div>
			{% endfor %}
		</div>
	</section>

	{% for item in post.meta('sections') %}
		{% include 'home-builder/' ~ item.acf_fc_layout|replace({'_': '-'}) ~ '.twig' %}
	{% endfor %}

	<p><mark>vertical rhythm</mark></p>

	<section class="rhythm">
		<div class="row">
			<div class="col lg:1-2">
				<p class="omega">omega: Lorem ipsum dolor sit</p>
				<h1>alpha: Lorem ipsum dolor sit amet</h1>
				<h2>beta: Lorem ipsum dolor sit amet, consectetur adipiscing</h2>
				<h3>gamma: Lorem ipsum dolor sit amet, consectetur adipiscing elit</h3>
				<h4>delta: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</h4>
				<h5>epsilon: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</h5>
				<h6>zeta: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut</h6>
			</div>
			<div class="col lg:1-2">
				<p>base: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
				<p>base: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
				<p>base: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
				<p>base: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
				<p>base: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
				<p>base: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
				<p>base: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
				<p>base: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
				<p>base: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
				<p>base: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
			</div>
		</div>
	</section>

{% endblock %}
