{% extends "base.twig" %}

{% block content %}

	{% include 'includes/hero--article.twig' with { article: Post(post.hero_article) } %}
	{% set ignore_ids = [Post(post.hero_article).id] %}

	<section>
		<div class="row">
			<div class="col">
				<h2>Categories</h2>
			</div>
		</div>
		<div class="row">
			{% for post in spotlight|slice(0, 6) if post.id not in ignore_ids %}
				<div class="col md:6 lg:4">
					{% include ['includes/card--' ~ post.post_type ~ '.twig', 'includes/card.twig'] %}
				</div>
				{% set ignore_ids = ignore_ids|merge([post.id]) %}
			{% endfor %}
		</div>
	</section>

	<section>
		<div class="row">
			<div class="col">
				<h2>Most Popular</h2>
			</div>
		</div>
		<div class="row">
			{% for post in spotlight|slice(6, 3) if post.id not in ignore_ids %}
				<div class="col md:6 lg:4">
					{% include ['includes/card--' ~ post.post_type ~ '.twig', 'includes/card.twig'] %}
					{% set ignore_ids = ignore_ids|merge([post.id]) %}
				</div>
			{% endfor %}
		</div>
	</section>

	{% for item in post.meta('sections') %}
		{% include 'home-builder/' ~ item.acf_fc_layout|replace({'_': '-'}) ~ '.twig' %}
	{% endfor %}

	<section>
		<div class="row">
			<div class="col">
				<h2>Latest News</h2>
			</div>
		</div>
		<div class="row">
			{{ fn('filtered_posts', ignore_ids) }}
		</div>
	</section>

	<p><mark>vertical rhythm</mark></p>

	<section class="rhythm">
		<div class="row">
			<div class="col lg:6">
				<p class="omega">omega: Lorem ipsum dolor sit</p>
				<h1>alpha: Lorem ipsum dolor sit amet</h1>
				<h2>beta: Lorem ipsum dolor sit amet, consectetur adipiscing</h2>
				<h3>gamma: Lorem ipsum dolor sit amet, consectetur adipiscing elit</h3>
				<h4>delta: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</h4>
				<h5>epsilon: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</h5>
				<h6>zeta: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut</h6>
			</div>
			<div class="col lg:6">
				<p>base: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
				<p>base: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
				<p>base: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
				<p>base: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
				<p>base: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
				<p>base: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
				<p>base: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
				<p>base: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
				<p>base: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
				<p>base: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
			</div>
		</div>
	</section>

{% endblock %}
