{% extends "base.twig" %}

{% block content %}

	<section>
		<div class="row">
			<div class="col">
				<h2>Categories Spotlight</h2>
			</div>
		</div>
	</section>

	<section>
		<div class="row">
			<div class="col">
				<h2>Most Popular</h2>
			</div>
		</div>
	</section>

	<section>
		<div class="row">
			<div class="col">
				{% include 'forms/signup.twig' %}
			</div>
		</div>
	</section>

{% endblock %}
