{% extends "base.twig" %}

{% block content %}

	<div class="hero" role="banner">
		<img
			src="https://via.placeholder.com/1806x630"
			class="hero__image"
			alt=""
			loading="lazy"
		/>
	</div>

	<section>
		<div class="row">
			<div class="col">
				<h2>Categories Spotlight</h2>
			</div>
		</div>
	</section>

	<section>
		<div class="row">
			<div class="col">
				<h2>Most Popular</h2>
			</div>
		</div>
	</section>

	<section>
		<div class="row">
			<div class="col">
				{% include 'forms/signup.twig' %}
			</div>
		</div>
	</section>

{% endblock %}
