{% extends "base.twig" %}

{% block content %}

	<h1 class="visually-hidden">{{ post.title }}</h1>
	{% include 'includes/hero--article.twig' with { article: Post(post.hero_article) } %}
	{% set ignore_ids = [Post(post.hero_article).id] %}

	{% for item in post.meta('sections') %}
		{% include 'home-builder/' ~ item.acf_fc_layout|replace({'_': '-'}) ~ '.twig' %}
	{% endfor %}

	<section>
		<div class="row">
			<div class="col">
				<h2>Latest News</h2>
			</div>
		</div>
		<div class="row">
			{{ fn('_mghd_filtered_posts', ignore_ids) }}
		</div>
	</section>

	<p><mark>vertical rhythm</mark></p>

	<section class="rhythm">
		<div class="row">
			<div class="col lg:6">
				<p class="omega">omega: Lorem ipsum dolor sit</p>
				<h1>alpha: Lorem ipsum dolor sit amet</h1>
				<h2>beta: Lorem ipsum dolor sit amet, consectetur adipiscing</h2>
				<h3>gamma: Lorem ipsum dolor sit amet, consectetur adipiscing elit</h3>
				<h4>delta: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</h4>
				<h5>epsilon: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</h5>
				<h6>zeta: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut</h6>
			</div>
			<div class="col lg:6">
				<p>base: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
				<p>base: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
				<p>base: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
				<p>base: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
				<p>base: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
				<p>base: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
				<p>base: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
				<p>base: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
				<p>base: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
				<p>base: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
			</div>
		</div>
	</section>

{% endblock %}
