{% extends "base.twig" %}

{% block content %}

	<div class="hero" role="banner">
		<img
			src="https://via.placeholder.com/1806x630"
			class="hero__image"
			alt=""
			loading="lazy"
		/>
	</div>

	<section>
		<div class="row">
			<div class="col center">
				<h2>Categories Spotlight</h2>
			</div>
		</div>
		<div class="row">
			{% if spotlight is not empty %}
				{% for post in spotlight %}
					<div class="col third">
						{% include ['includes/card--' ~ post.post_type ~ '.twig', 'includes/card.twig'] %}
					</div>
				{% endfor %}
				<div class="col">
					{% include 'includes/pagination.twig' with {
						pagination: posts.pagination({
							show_all: false,
							mid_size: 3,
							end_size: 2
						})
					} %}
				</div>
			{% else %}
				<div class="col">
					<p><em>Sorry, there's nothing to see here at the moment.</em></p>
				</div>
			{% endif %}
		</div>
	</section>

	<section>
		<div class="row">
			<div class="col center">
				<h2>Most Popular</h2>
			</div>
		</div>
	</section>

	<section>
		<div class="row">
			<div class="col">
				<h2>Sign up to the Hunger weekly newsletter including the latest articles and news about events</h2>
				{% include 'forms/signup.twig' %}
			</div>
		</div>
	</section>

	<p><mark>vertical rhythm</mark></p>

	<section class="rhythm">
		<div class="row">
			<div class="col">
				<p class="omega">omega: Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
				<h1>alpha: Lorem ipsum dolor sit amet, consectetur adipiscing elit</h1>
				<h2>beta: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h2>
				<h3>gamma: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h3>
				<h4>delta: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h4>
				<h5>epsilon: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h5>
				<h6>zeta: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h6>
				<p>base: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
				<p class="iota">iota: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
			</div>
		</div>
	</section>

{% endblock %}
