<header class="header">

	<div class="header__bar">
		<div class="row">

			<div class="col sm:4 md:4 lg:4">
				<button
					id="drawer__toggle"
					class="hamburger hamburger--collapse"
					aria-label="Menu"
				>
					<span class="hamburger-box">
						<span class="hamburger-inner"></span>
					</span>
				</button>
			</div>

			<div class="col sm:4 md:4 lg:4">
				<a
					href="{{ site.link }}"
					class="logo"
					aria-label="Home"
				>
					{% include 'icons/hunger_logo.svg' %}
				</a>
			</div>

			<div class="col sm:4 md:4 lg:4">
				<a
					href="{{ fn('get_post_type_archive_link', 'issue') }}"
					class="button"
				>Shop</a>
				{% include 'forms/search.twig' %}
			</div>

		</div>
	</div>

	<div id="drawer">
		<div class="row">
			<div class="col lg:8">
				<nav>
					{% include "includes/navigation.twig" with { items: header_navigation.get_items } %}
				</nav>
			</div>
			<div class="col lg:4">
				{% include 'includes/social.twig' %}
			</div>
		</div>
	</div>

</header>
