<header id="drawer" class="open">

	<a
		href="{{ site.link }}"
		class="logo"
	>
		{% include 'icons/hunger_logo.svg' %}
	</a>
	
	<button
		id="drawer__toggle"
		class="hamburger hamburger--collapse is-active"
		aria-label="Menu"
	>
		<span class="hamburger-box">
			<span class="hamburger-inner"></span>
		</span>
	</button>

	<a
		href="{{ fn('get_post_type_archive_link', 'issue') }}"
		class="button button--full"
	>Shop</a>

	{% include 'forms/search.twig' %}

	<nav>
		{% include "includes/navigation.twig" with { items: header_navigation.get_items } %}
	</nav>

	{% include 'includes/social.twig' %}

</header>
