<header class="header">

	<div class="header__bar" style="background-color: {{ home.background_colour }}">
		<div class="row">

			<div class="col lg:4 md:4 sm:6">
				<button
					id="drawer--nav__toggle"
					class="hamburger hamburger--collapse"
					aria-label="Menu"
				>
					<span class="hamburger-box">
						<span class="hamburger-inner"></span>
					</span>
				</button>
			</div>

			<div class="col lg:4 lg:justify-center md:4 md:justify-center sm:6 sm:justify-end">
				<a
					href="{{ site.link }}"
					class="logo"
					aria-label="Home"
				>
					{% include 'icons/hunger_logo.svg' %}
				</a>
			</div>

			<div class="col lg:4 lg:justify-end md:4 md:justify-end sm:hide">
				<a
					href="{{ fn('get_post_type_archive_link', 'issue') }}"
					class="button button--small"
				>Shop</a>
				<button
					id="drawer--search__toggle"
					aria-label="Show search"
				>
					{% include 'icons/search.svg' %}
				</button>
			</div>

		</div>
	</div>

	<div id="drawer--nav" class="drawer">
		<div class="row">
			<div class="col lg:8">
				<nav>
					{% include "includes/navigation.twig" with { items: header_navigation.get_items } %}
				</nav>
			</div>
			<div class="col lg:4">
				<div class="lg:hide md:hide margin-bottom">
					{% include 'forms/search.twig' %}
				</div>
				{% include 'includes/social.twig' %}
			</div>
		</div>
	</div>

	<div id="drawer--search" class="drawer">
		<div class="row">
			<div class="col lg:8 lg:offset-2">
				{% include 'forms/search.twig' %}
			</div>
		</div>
	</div>

</header>
