{% extends "base.twig" %}

{% block content %}

	<section>
		<div class="row">
			<div class="col">
				<h1>{{ post.title }}</h1>
				{% if post.content %}
					<div class="rte">
						{{ post.content }}
					</div>
				{% endif %}
			</div>
		</div>
	</section>

	<section>
		<div class="row">
			<div class="col">
				<h2>The Team</h2>
				<div class="rte">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>
			</div>
		</div>
	</section>

	{% for department in departments %}
		<section>
			<div class="row">
				<div class="col">
					<h2>{{ department.name }}</h2>
					{% for member in department.posts('orderby=menu_order&order=ASC') %}
						<h3>{{ member.title }}</h3>
					{% endfor %}
				</div>
			</div>
		</section>
	{% endfor %}

{% endblock %}
