{% extends "base.twig" %}

{% block content %}

	{% include 'includes/image.twig' with { image: post.thumbnail } %}
	{% include 'includes/single-header.twig' %}

	<section>
		<div class="row">
			<div class="col">
				<h2><code>post.standfirst</code><br>{{ post.standfirst }}</h2>
				<h2><code>post.article_excerpt</code><br>{{ post.article_excerpt }}</h2>
			</div>
		</div>
	</section>

	{% include 'includes/article-builder.twig' %}
	{% include 'includes/single-footer.twig' %}

{% endblock %}
