{% extends "base.twig" %}

{% block content %}

	<article>

		{% if post.hero_type == 'video' %}
			<div class="embed">
				{{ post.hero_video }}
			</div>
		{% elseif post.hero_type == 'image' %}
			{% include 'includes/hero.twig' with { image: post.hero_image } %}
		{% elseif post.thumbnail %}
			{% include 'includes/hero.twig' with { image: post.thumbnail } %}
		{% endif %}

		{% include 'includes/single-header.twig' %}

		{% if post.id > constant('HTV_LAST_V3_POST_ID') %}
			{# HTV 4.0 Article #}
			{% include 'includes/article-builder.twig' %}
		{% elseif post.id > constant('HTV_LAST_V2_POST_ID') and post.id <= constant('HTV_LAST_V3_POST_ID') %}
			{# HTV 3.0 Article #}
			{% for item in post.meta('feature') %}
				{% include 'article-legacy/' ~ item.acf_fc_layout|replace({'_': '-'}) ~ '.twig' %}
			{% endfor %}
		{% else %}
			{# HTV 2.0 Article #}
			<section>
				<div class="row">
					<div class="col">
						{{ post.custom_embed_code != 'none' ? post.embed_code }}
						{{ post.content }}
					</div>
				</div>
			</section>
		{% endif %}

		{% include 'includes/single-footer.twig' %}

	</article>

{% endblock %}
