{% extends "base.twig" %}

{% block content %}

	<article>

		<header>
			<div class="row">
				<div class="col lg:1-2">
					<h1>{{ post.title }}</h1>
				</div>
				<div class="col lg:1-2">
					{% include 'includes/image.twig' with { image: post.thumbnail } %}
				</div>
			</div>
		</header>

		{% if post.content %}
			<section>
				<div class="row">
					<div class="col">
						<div class="rte">
							{{ post.content }}
						</div>
					</div>
				</div>
			</section>
		{% endif %}

	</article>

{% endblock %}
