{% extends "base.twig" %}

{% block content %}

	<article>

		{% include 'includes/hero.twig' %}

		<style>
			.adbutler-wrapper img { height: auto; }
		</style>
		<div class="row adbutler-wrapper" style="margin-top: 25px; text-align: center;">
			<div class="col">
				<!-- Billboard 970x250 [async] -->
				<script type="text/javascript">if (!window.AdButler){(function(){var s = document.createElement("script"); s.async = true; s.type = "text/javascript";s.src = 'https://servedbyadbutler.com/app.js';var n = document.getElementsByTagName("script")[0]; n.parentNode.insertBefore(s, n);}());}</script>
				<script type="text/javascript">
				var AdButler = AdButler || {}; AdButler.ads = AdButler.ads || [];
				var abkw = window.abkw || '';
				var plc584908 = window.plc584908 || 0;
				document.write('<'+'div id="placement_584908_'+plc584908+'"></'+'div>');
				AdButler.ads.push({handler: function(opt){ AdButler.register(184609, 584908, [970,250], 'placement_584908_'+opt.place, opt); }, opt: { place: plc584908++, keywords: abkw, domain: 'servedbyadbutler.com', click:'CLICK_MACRO_PLACEHOLDER' }});
				</script>	
			</div>
		</div>

		{% include 'includes/single-header.twig' %}
		{% include 'includes/article-builder.twig' %}
		{% include 'includes/single-footer.twig' %}

		{% if related|length %}
			<section>
				<div class="row">
					<div class="col center">
						<h2>Related Content</h2>
					</div>
				</div>
				<div class="row">
					{% for post in related %}
						<div class="col lg:4 md:6">
							{% include ['includes/card--' ~ post.post_type ~ '.twig', 'includes/card.twig'] %}
						</div>
					{% endfor %}
				</div>
			</section>
		{% endif %}

	</article>

{% endblock %}
