{% extends "base.twig" %}

{% block content %}

	<header>
		<div class="row">
			<div class="col">
				<h1>{{ post.title }}</h1>
			</div>
			<div class="col">
				{% include 'includes/image.twig' with { image: post.thumbnail } %}
			</div>
		</div>
	</header>

	<section>
		<div class="row">
			<div class="col">
				{{ post.content }}
			</div>
		</div>
	</section>

{% endblock %}
