@font-face {
  font-family: f-grotesk-bold;
  src: url('http://mth.me/fonts/f-grotesk-bold.woff') format('woff');
}

@font-face {
  font-family: f-grotesk-book-italic;
  src: url('http://mth.me/fonts/f-grotesk-book-italic.woff') format('woff');
}

@font-face {
  font-family: f-grotesk-book;
  src: url('http://mth.me/fonts/f-grotesk-book.otf') format('woff');
}

@font-face {
  font-family: f-grotesk-thin;
  src: url('http://mth.me/fonts/f-grotesk-thin.otf') format('woff');
}
