<p><mark>button.twig</mark></p>

<section>
	<div class="row">
		<div class="col">
			<a
				href="{{ item.button_link }}"
				class="button"
				target="_blank"
				rel="noopener"
			>{{ item.button_text }}</a>
		</div>
	</div>
</section>
