<p><mark>gallery.twig</mark></p>

<section>
	<div class="row">
		<div class="col">
			<div class="carousel">
				<div class="carousel__tray">
					{% for image in item.image %}
						{% include 'includes/image.twig' %}
					{% endfor %}
				</div>
				<div class="carousel__counter"><span class="current">1</span> / {{ item.image|length }}</div>
				<button class="carousel__control carousel__control--prev">&larr;</button>
				<button class="carousel__control carousel__control--next">&rarr;</button>
			</div>
		</div>
	</div>
</section>
