<p><mark>image.twig</mark></p>

{% if item.image and item.image_display_options == 'inline' %}

	<section>
		<div class="row">
			<div class="col">
				{% include 'includes/image.twig' %}
				{{ item.image_credit ? item.image_credit|wpautop }}
			</div>
		</div>
	</section>

{% elseif item.image %}

	{% include 'includes/image.twig' %}
	{{ item.image_credit ? item.image_credit|wpautop }}

{% endif %}
