<p><mark>pullquote.twig</mark></p>

<section>
	<div class="row">
		<div class="col">

			&ldquo;
			{{ item.pullquote }}
			&rdquo;

			{% if item.add_tweet_this_quote == 'yes' %}

				{% set quote = item.pullquote %}
				{% set quote = quote|length > 140 ? quote|slice(0, 137) ~ '...' : quote %}

				<br>
				<br>
				<a
					href="https://twitter.com/intent/tweet?text={{ quote|url_encode }}&url={{ post.link|url_encode }}&via=hungermagazine"
					target="_blank"
				>Retweet this quote</a>

			{% endif %}

		</div>
	</div>
</section>
