<p><mark>tweet-embed.twig</mark></p>

<blockquote
	class="twitter-tweet"
	data-lang="en"
>
	<a href="{{ item.tweet_embed }}"></a>
</blockquote>

<script async src="//platform.twitter.com/widgets.js"></script>
