<p><mark>youtube-video.twig</mark></p>

{% if item.youtube_video and item.youtube_display_options == 'inline' %}

	<section>
		<div class="row">
			<div class="col">
				<div class="embed">
					{{ item.youtube_video }}
				</div>
			</div>
		</div>
	</section>

{% elseif item.youtube_video %}

	<div class="embed">
		{{ item.youtube_video }}
	</div>

{% endif %}
