<p><mark>youtube-video.twig</mark></p>

{% if item.youtube_display_options == 'inline' %}

	<section>
		<div class="row">
			<div class="col">
				{{ item.youtube_video }}
			</div>
		</div>
	</section>

{% else %}

	{{ item.youtube_video }}

{% endif %}
