// Base

* {
	box-sizing: border-box;
}

html {
	font-family: system-ui, sans-serif;
}

body {
	padding-left: $drawer-width;
	transition: padding-left 0.5s $anim-curve;

	&.wide {
		padding-left: rhythm(18);

		&.archive .row {
			max-width: calc(
				#{$grid-width} + calc(#{$drawer-width} - #{rhythm(18)})
			);
		}
	}
}

main {
}

section {
	margin: rhythm(8) 0;
}

img,
svg {
	max-width: 100%;
	vertical-align: top;
}

ul[class],
ol[class] {
	list-style: none;
	padding: 0;
	margin: 0;
}
