// Base

* {
	box-sizing: border-box;
}

html {
	overflow-x: hidden;

	// Source: https://medium.com/@MateMarschalko/improving-font-rendering-with-css-3383fc358cbc
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
}

body {
	font-family: $body-font;
	font-size: $font-size / 16 + rem;
	line-height: $line-height / 16 + rem;
	padding-top: rhythm($header-height);
}

main {
}

img,
svg {
	max-width: 100%;
	vertical-align: top;
}

ul[class],
ol[class] {
	list-style: none;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	@include link;
}

[disabled] {
	color: $grey-light;
}
