// Base

* {
	box-sizing: border-box;
}

html {
	font-family: $body-font;
	font-size: $font-size + px;
	line-height: $line-height / $font-size;
	overflow-x: hidden;

	// Source: https://medium.com/@MateMarschalko/improving-font-rendering-with-css-3383fc358cbc
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
}

body {
	padding-top: rhythm($header-height);
	// 	padding-left: $drawer-width-open;
	// 	transition: padding-left 0.5s $anim-curve;

	// 	&.wide {
	// 		padding-left: rhythm($drawer-width-closed);

	// 		&.archive,
	// 		&.home,
	// 		&.search-results {
	// 			.row {
	// 				/* prettier-ignore */
	// 				max-width: calc(#{$grid-width} + calc(#{$drawer-width-open} - #{rhythm($drawer-width-closed)}));
	// 			}
	// 		}
	// 	}
}

body.dark {
}

body.light {
	.header,
	.hero__logo {
		color: $white;
	}

	.hamburger-inner,
	.hamburger-inner:before,
	.hamburger-inner:after {
		background-color: $white;
	}
}

main {
}

img,
svg {
	max-width: 100%;
	vertical-align: top;
}

ul[class],
ol[class] {
	list-style: none;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	@include link;
}

@media (max-width: $sm-max) {
	html.sm\:no-scroll {
		overflow: hidden;
	}
}

@media (min-width: $lg-min) {
	body.home {
		padding-top: 0;
	}
}
