// Grid

$total-cols: 12;

.row {
	display: flex;
	flex-flow: row wrap;
	max-width: $grid-width;
	// transition: max-width 0.5s $anim-curve;
	margin: auto;
}

.col {
	width: 100%;
	padding: rhythm() $gutter-width/2;
}

@media (max-width: $sm-max) {
	.col {
		&.sm\:6 {
			width: percentage(6 / $total-cols);
		}

		&.sm\:justify-end {
			justify-content: flex-end;
		}
	}
}

@media (min-width: $md-min) and (max-width: $md-max) {
	.row.reverse {
		flex-direction: row-reverse;
	}

	.col {
		&.md\:4 {
			width: percentage(4 / $total-cols);
		}

		&.md\:6 {
			width: percentage(6 / $total-cols);
		}

		&.md\:justify-center {
			justify-content: center;
		}

		&.md\:justify-end {
			justify-content: flex-end;
		}
	}
}

@media (min-width: $lg-min) {
	.col {
		&.lg\:3 {
			width: percentage(3 / $total-cols);
		}

		&.lg\:4 {
			width: percentage(4 / $total-cols);
		}

		&.lg\:5 {
			width: percentage(5 / $total-cols);
		}

		&.lg\:6 {
			width: percentage(6 / $total-cols);
		}

		&.lg\:7 {
			width: percentage(7 / $total-cols);
		}

		&.lg\:8 {
			width: percentage(8 / $total-cols);
		}

		&.lg\:9 {
			width: percentage(9 / $total-cols);
		}

		&.lg\:offset-2 {
			margin-left: percentage(2 / $total-cols);
		}

		&.lg\:justify-center {
			justify-content: center;
		}

		&.lg\:justify-end {
			justify-content: flex-end;
		}
	}
}
