// Mixins

@function rhythm($height: 4) {
	@return ($line-height/4 / $font-size) * $height + rem;
}

@function setActiveColor($color) {
	@if (lightness($color) <= 30) {
		@return lighten($color, 10);
	} @else {
		@return darken($color, 10);
	}
}

@mixin type($size, $rhythm: 4) {
	font-size: $size * 1px;
	font-size: ($size / $font-size) * 1rem;
	line-height: rhythm($rhythm);
}

// Usage: @include link($primary, $secondary, true);
@mixin link($color: inherit, $hover-color: $primary, $underline: false) {
	@if $color {
		color: $color;
	}

	@if $underline {
		text-decoration: underline;
	}

	&:hover,
	&:focus {
		color: $hover-color;

		@if $underline {
			text-decoration: none;
		}
	}

	&:active {
		@if $hover-color {
			color: setActiveColor($hover-color);
		} @else {
			color: setActiveColor($color);
		}
	}
}
