// Mixins

@function rhythm($height: 4) {
	@return ($line-height/4 / $font-size) * $height + rem;
}

@function setActiveColor($color) {
	@if (lightness($color) <= 30) {
		@return lighten($color, 10);
	} @else {
		@return darken($color, 10);
	}
}

@mixin type($size, $rhythm: 4) {
	font-size: $size * 1px;
	font-size: ($size / $font-size) * 1rem;
	line-height: rhythm($rhythm);
}

// Usage: @include link($primary, $secondary, true);
@mixin link($color: inherit, $hover-color: $primary, $underline: false) {
	@if $color {
		color: $color;
	}

	@if $underline {
		text-decoration: underline;
	}

	&:hover,
	&:focus {
		color: $hover-color;

		@if $underline {
			text-decoration: none;
		}
	}

	&:active {
		@if $hover-color {
			color: setActiveColor($hover-color);
		} @else {
			color: setActiveColor($color);
		}
	}
}

@mixin omega {
	@include type($omega, 11);
}

@mixin alpha {
	@include type($alpha, 8);
}

@mixin beta {
	@include type($beta, 7);
}

@mixin gamma {
	@include type($gamma, 6);
}

@mixin delta {
	@include type($delta, 5);
}

@mixin epsilon {
	@include type($epsilon, 5);
}

@mixin zeta {
	@include type($zeta);
}

@mixin eta {
	@include type($eta, 3);
}

@mixin iota {
	@include type($iota, 3);
}

@mixin icon-button {
	background: none;
	border: none;
	padding: rhythm(1);
	@include link;

	svg {
		width: rhythm();
		height: rhythm();
	}
}
