// Mixins

@function rhythm($height: 4) {
	@return ($line-height/4 / $font-size) * $height + rem;
}

@function setActiveColor($color) {
	@if (lightness($color) <= 30) {
		@return lighten($color, 10);
	} @else {
		@return darken($color, 10);
	}
}

@mixin type($size, $rhythm: 4) {
	font-size: $size * 1px;
	font-size: ($size / $font-size) * 1rem;
	line-height: rhythm($rhythm);
}

// Usage: @include link($primary, $secondary, true);
@mixin link($color: inherit, $hover-color: false, $underline: false) {
	color: $color;

	@if $underline {
		text-decoration: underline;
	}

	&:hover,
	&:focus {
		@if $hover-color {
			color: $hover-color;
			opacity: 1;
		} @else {
			opacity: $hover-opacity;
		}

		@if $underline {
			text-decoration: none;
		}
	}

	&:active {
		@if $hover-color {
			color: setActiveColor($hover-color);
		} @else {
			opacity: $active-opacity;
		}
	}
}

@mixin omega {
	font-weight: lighter;
	@include type($beta, 7);

	@media (min-width: $md-min) {
		@include type($omega, 11);
	}
}

@mixin alpha {
	@include type($gamma, 6);

	@media (min-width: $md-min) {
		@include type($alpha, 8);
	}
}

@mixin beta {
	@include type($delta, 5);

	@media (min-width: $md-min) {
		@include type($beta, 7);
	}
}

@mixin gamma {
	@include type($epsilon, 5);

	@media (min-width: $md-min) {
		@include type($gamma, 6);
	}
}

@mixin delta {
	@media (min-width: $md-min) {
		@include type($delta, 5);
	}
}

@mixin epsilon {
	@media (min-width: $md-min) {
		@include type($epsilon, 5);
	}
}

@mixin zeta {
	@include type($zeta);
}

@mixin eta {
	font-weight: lighter;
	@include type($eta, 3);
}

@mixin iota {
	font-weight: lighter;
	@include type($iota, 3);
}

@mixin icon-button {
	background: none;
	border: none;
	padding: rhythm(1);
	@include link;

	svg {
		width: rhythm();
		height: rhythm();
	}
}

@mixin content-gradient {
	background: linear-gradient(
		to bottom,
		rgba(0, 0, 0, 0.2) 0,
		transparent 30% 70%,
		rgba(0, 0, 0, 0.2) 100%
	);
}
