// Typography

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $headings-font;
	font-weight: normal;
	margin: 0 0 rhythm();

	&:last-child {
		margin-bottom: 0;
	}
}

p {
	margin: 0 0 rhythm();

	&:last-child {
		margin-bottom: 0;
	}
}

.omega {
	@include omega;
}

h1,
.alpha {
	@include alpha;
}

h2,
.beta {
	@include beta;
}

h3,
.gamma {
	@include gamma;
}

h4,
.delta {
	@include delta;
}

h5,
.epsilon {
	@include epsilon;
}

h6,
.zeta {
	@include zeta;
}

.eta {
	@include eta;
}

.iota {
	@include iota;
}

.base {
	@include type($font-size);
}

blockquote {
	@extend p, .beta;
}
