// Typography

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 rhythm();

	&:last-child {
		margin-bottom: 0;
	}
}

p {
	margin: 0 0 rhythm();

	&:last-child {
		margin-bottom: 0;
	}
}

.omega {
	@include omega;
}

h1 {
	@include alpha;
}

h2 {
	@include beta;
}

h3 {
	@include gamma;
}

h4 {
	@include delta;
}

h5 {
	@include epsilon;
}

h6 {
	@include zeta;
}

.eta {
	@include eta;
}

.iota {
	@include iota;
}
