// Utilities

.center {
	text-align: center;
}

.uppercase {
	text-transform: uppercase;
	font-weight: bold;
}

.rhythm {
	background-image: linear-gradient(to bottom, cyan 0, transparent 1px),
		linear-gradient(to bottom, lightgrey 0, transparent 1px);
	background-repeat: repeat-y;
	background-size: 100% ($line-height / $font-size) * 1rem,
		100% (($line-height / $font-size) / 4) * 1rem;
}
