// Utilities

.center {
	text-align: center;
}

.uppercase {
	text-transform: uppercase;
	letter-spacing: 0.02em;
	@include eta;
}

.no-padding {
	padding: 0 !important;
}

.no-margin {
	margin: 0 !important;
}

.margin-bottom {
	margin-bottom: rhythm(8);
}

.rhythm {
	background-image: linear-gradient(to bottom, cyan 0, transparent 1px),
		linear-gradient(to bottom, lightgrey 0, transparent 1px);
	background-repeat: repeat-y;
	background-size: 100% ($line-height / $font-size) * 1rem,
		100% (($line-height / $font-size) / 4) * 1rem;

	.col * {
		background-color: rgba($primary, 0.1);
	}
}

// Source: https://css-tricks.com/comparing-various-ways-to-hide-things-in-css/
.visually-hidden:not(:focus):not(:active) {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.grey {
	color: $grey;
}

// Responsive

@media (max-width: $sm-max) {
	.sm\:hide {
		display: none !important;
	}
}

@media (min-width: $md-min) and (max-width: $md-max) {
	.md\:hide {
		display: none !important;
	}
}

@media (min-width: $lg-min) {
	.lg\:hide {
		display: none !important;
	}
}
