// Variables

$blue: #00ffe7;
$brown-lightest: #faf6f3;
$green: #00ff03;
$grey-lightest: #f8f8f8;
$pink: #ff56ce;
$yellow: #ffe203;

$drawer-width: 326px;
$grid-width: 840px;
$anim-curve: cubic-bezier(0.4, 0, 0.2, 1);
