// Variables

// Colours
$black: black;
$blue: #00ffe7;
$brown-lightest: #f9f6f3;
$green: #00ff03;
$grey-lightest: #f8f8f8;
$pink: #ff56ce;
$white: white;
$yellow: #ffe203;

$primary: $pink;

// Layout
$grid-width: 1260px;
$gutter-width: 60px;
$drawer-width-open: 326px;
$drawer-width-closed: 18;
$header-height: 15;

// Typography
$font-size: 18;
$line-height: 24; // The result of this when divided by 4 should be a whole numnber
$body-font: "National", system-ui, sans-serif;
$headings-font: $body-font;

$omega: 60;
$alpha: 42;
$beta: 32;
$gamma: 28;
$delta: 22;
$epsilon: 20;
$zeta: 18;
$eta: 16;
$iota: 14;

// Transitions
$anim-curve: cubic-bezier(0.4, 0, 0.2, 1);

// Breakpoints
$md-min: 600px;
$sm-max: $md-min - 1;
$lg-min: 1024px;
$md-max: $lg-min - 1;

// z-index
$z-0: 0; // Page
$z-1: 100; // Page
$z-2: 200; // Page
$z-3: 300; // Page
$z-4: 400; // Alerts
$z-5: 500; // Navigation
$z-6: 600; // Header
$z-7: 700; // Takeover
$z-8: 800; // Flyout
$z-9: 900; // Toast
$z-10: 9999; // System
