<p><mark>copy.twig</mark></p>

{% if item.copy %}
	<section>
		<div class="row">
			<div class="col lg:8 lg:offset-2">
				<div class="rte">
					{{ item.copy }}
				</div>
			</div>
		</div>
	</section>
{% endif %}
