<p><mark>gallery.twig</mark></p>

{% if item.gallery %}
	<section>

		<div class="row">
			<div class="col lg:8 lg:offset-2">
				{% if item.name %}
					<h2>{{ item.name }}</h2>
				{% endif %}
			</div>
		</div>

		{% include 'includes/carousel.twig' with { images: item.gallery } %}

	</section>
{% endif %}
