<p><mark>image.twig</mark></p>

{% if item.image %}
	<section>
		<div class="row">
			<div class="col">
				{% include 'includes/image.twig' %}
				{{ item.caption ? item.caption|wpautop }}
			</div>
		</div>
	</section>
{% endif %}
