<p><mark>image.twig</mark></p>

<section>
	<div class="row">
		<div class="col">
			{% include 'includes/image.twig' with { image: Image(item.image) } %}
			<p>{{ item.caption }}</p>
		</div>
	</div>
</section>
