{% if item.image %}
	<section>
		<div class="row">
			<div class="col lg:8 lg:offset-2">
				{% include 'includes/image.twig' with {
					size: 'two-thirds',
					sizes: '(min-width: 1024px) 66vw, 100vw'
				} %}
				{% include 'includes/caption.twig' with { caption: item.caption ? item.caption : item.image.caption } %}
			</div>
		</div>
	</section>
{% endif %}
