{% if item.question or item.answer %}
	<section>
		<div class="row">
			<div class="col lg:8 lg:offset-2">
				{% if item.question %}
					<p class="grey">{{ item.question|striptags }}</p>
				{% endif %}
				{{ item.answer ? item.answer }}
			</div>
		</div>
	</section>
{% endif %}
