{% if item.question or item.answer %}
	<section>
		<div class="row">
			<div class="col lg:8 lg:offset-2">
				<details>
					{% if item.question %}
						<summary>{{ item.question|striptags }}</summary>
					{% endif %}
					{{ item.answer ? item.answer }}
				</details>
			</div>
		</div>
	</section>
{% endif %}
