{% if item.embed_url or item.poster %}
	<section>
		<div class="row">
			<div class="col lg:8 lg:offset-2">
				{% if item.type == 'embed' %}
					{% include 'includes/embed.twig' with { embed: item.embed_url } %}
				{% else %}
					{# HTV Player (legacy, no idea what it's meant to do) #}
					{% include 'includes/image.twig' with {
						image: item.poster,
						size: 'grid--two-thirds',
						sizes: '(min-width: 1024px) 66vw, 100vw'
					} %}
				{% endif %}
			</div>
		</div>
	</section>
{% endif %}
