<section>
	<div class="row">

		<div class="col md:6 lg:8">
			{% include 'includes/image.twig' with { size: 'grid--two-thirds' } %}
		</div>

		<div class="col md:6 lg:4">
			<h2>{{ item.title }}</h2>
		</div>

	</div>
</section>
