<div class="
	card
	card--{{ post.card_image_orientation ? 'portrait' : 'landscape' }}
">

	<div class="card__content">
		{% include 'includes/cats.twig' %}
		<h3 class="card__title"><a href="{{ post.link }}">{{ post.title }}</a></h3>
	</div>

	{% if post.hero_image or post.thumbnail %}
		{% include 'includes/image.twig' with {
			image: post.hero_image ? post.hero_image : post.thumbnail,
			size: post.card_image_orientation ? 'portrait' : 'card',
			sizes: '(min-width: 1024px) 33vw, (min-width: 600px) 50vw, 100vw'
		} %}
	{% endif %}

</div>
