<div class="card{{ not post.hero_image and not post.thumbnail ? ' no-image' }}">

	{% if post.hero_image %}
		{% include 'includes/image.twig' with {
			image: post.hero_image,
			classes: 'card__image',
			size: 'portrait'
		} %}
	{% elseif post.thumbnail %}
		{% include 'includes/image.twig' with {
			image: post.thumbnail,
			classes: 'card__image',
			size: 'portrait'
		} %}
	{% endif %}

	<div class="card__content">
		{% include 'includes/cats.twig' %}
		<h3><a href="{{ post.link }}">{{ post.title }}</a></h3>
	</div>

</div>
