<div class="card">

	{% if post.hero_image %}
		{% include 'includes/image.twig' with {
			image: post.hero_image,
			classes: 'card__image'
		} %}
	{% elseif post.thumbnail %}
		{% include 'includes/image.twig' with {
			image: post.thumbnail,
			classes: 'card__image'
		} %}
	{% endif %}

	<div class="card__content">
		{% include 'includes/cats.twig' %}
		<h3><a href="{{ post.link }}">{{ post.title }}</a></h3>
	</div>

</div>
