<div class="
	card
	card--{{ post.card_image_orientation ? 'portrait' : 'landscape' }}
">

	<div class="card__content">
		{% include 'includes/cats.twig' %}
		<h3 class="card__title"><a href="{{ post.link }}">{{ post.title }}</a></h3>
	</div>

	{% if post.hero_image %}
		{% include 'includes/image.twig' with {
			image: post.hero_image,
			classes: 'card__image',
			size: post.card_image_orientation ? 'portrait' : 'thumbnail'
		} %}
	{% elseif post.thumbnail %}
		{% include 'includes/image.twig' with {
			image: post.thumbnail,
			classes: 'card__image',
			size: post.card_image_orientation ? 'portrait' : thumbnail
		} %}
	{% endif %}

</div>
