<div class="card">

	<img src="https://via.placeholder.com/360x540" alt="" />

	{# {% if post.thumbnail %}
		<img src="{{ post.thumbnail.src }}" alt="" />
	{% endif %} #}

	<div class="card__content">
		{% include 'includes/cats.twig' %}
		<h3><a href="{{ post.link }}">{{ post.title }}</a></h3>
	</div>

</div>
