<div class="card card--issue">
	{% include 'includes/image.twig' with {
		image: post.thumbnail,
		size: 'portrait',
		sizes: '(min-width: 1024px) 33vw, (min-width: 600px) 50vw, 100vw',
		classes: 'margin-bottom'
	} %}
	<h3>{{ post.title }}</h3>
	{{ post.post_excerpt ? post.post_excerpt|wpautop }}
	<a href="{{ post.link }}" class="button">View now</a>
</div>
