{% if not embed %}
	{% set embed = item.embed_url %}
{% endif %}

{% if 'soundcloud' in embed %}
	{% set variant = 'soundcloud' %}
{% endif %}

{% if embed %}
	<div class="embed{{ variant ? ' embed--' ~ variant }}">
		{{ embed }}
	</div>
{% endif %}
