{% if not embed %}
	{% set embed = item.embed_url %}
{% endif %}

{% if 'spotify' in embed %}
	{% set platform = 'spotify' %}
{% elseif 'soundcloud' in embed %}
	{% set platform = 'soundcloud' %}
{% elseif 'twitter' in embed %}
	{% set platform = 'twitter' %}
{% endif %}

{% if embed %}
	<div class="embed{{ platform ? ' embed--' ~ platform }}">
		{{ embed }}
	</div>
{% endif %}
