<div
	class="hero hero--article{{ post.hero_display ? ' hero--' ~ post.hero_display }}"
	role="banner"
	style="background-color: {{ home.background_colour }}"
>

	{% if post.hero_display != 'solid-colour' %}
		{% if article.hero_image %}
			{% include 'includes/image.twig' with {
				image: article.hero_image,
				classes: 'hero__image'
			} %}
		{% elseif article.thumbnail %}
			{% include 'includes/image.twig' with {
				image: article.thumbnail,
				classes: 'hero__image'
			} %}
		{% endif %}
	{% endif %}

	{% if fn('is_front_page') %}
		<div class="hero__logo">
			{% include 'icons/hunger_logo.svg' %}
		</div>
	{% endif %}

	<div class="hero__content">
		{% include 'includes/cats.twig' with { post: article } %}
		<h2><a href="{{ article.link }}">{{ article.title }}</a></h2>
	</div>

</div>
