<div class="hero" role="banner">

	{% if article.thumbnail %}
		{% include 'includes/image.twig' with {
			image: article.thumbnail,
			classes: 'hero__image'
		} %}
	{% else %}
		<img
			src="https://via.placeholder.com/1920x800"
			class="hero__image"
			alt=""
			loading="lazy"
		/>
	{% endif %}

	{% if fn('is_front_page') %}
		<div class="hero__logo">
			{% include 'icons/hunger_logo.svg' %}
		</div>
	{% endif %}

	<div class="hero__content">
		{% include 'includes/cats.twig' with { post: article } %}
		<h2><a href="{{ article.link }}">{{ article.title }}</a></h2>
	</div>

</div>
