{# post.thumbnail signifies legacy #}

{% if post.hero_image %}

	<div class="hero" role="banner">
		{% include 'includes/image--hero.twig' %}
	</div>

{% elseif post.thumbnail %}

	<section>
		<div role="banner">
			<div class="row">
				<div class="col lg:8 lg:offset-2">
					{% include 'includes/image.twig' with {
						image: post.thumbnail,
						size: 'grid--two-thirds',
						sizes: '(min-width: 1024px) 66vw, 100vw'
					} %}
				</div>
			</div>
		</div>
	</section>

{% endif %}
