{# post.thumbnail signifies legacy #}

{% if post.hero_image %}

	<div class="hero" role="banner">
		{% include 'includes/image.twig' with {
			image: post.hero_image,
			classes: 'hero__image'
		} %}
	</div>

{% elseif post.thumbnail %}

	<section>
		<div class="hero" role="banner">
			<div class="row">
				<div class="col lg:8 lg:offset-2">
					{% include 'includes/image.twig' with {
						image: post.thumbnail,
						classes: 'hero__image'
					} %}
				</div>
			</div>
		</div>
	</section>

{% endif %}
