{% if items %}
	<ul class="navigation">
	{% for item in items %}
		<li class="{{ item.classes|join(' ') }}">
			<a href="{{ item.link }}">{{ item.title }}</a>
			{% include "includes/menu.twig" with { 'items': item.children } %}
		</li>
	{% endfor %}
	</ul>
{% endif %}
