<header>
	<div class="row">
		<div class="col lg:9 lg:offset-2">

			<h1>{{ post.title }}</h1>

			{% if post.post_excerpt %}
				<p class="beta">{{ post.post_excerpt }}</p>
			{% endif %}

			{% if fn('is_page', 'Contact') %}
				{% include 'includes/social.twig' %}
			{% endif %}

		</div>
	</div>
</header>
