{% if posts.pagination.total is not empty %}
    <nav class="pagination">

        {% if posts.pagination.prev %}
            <a href="{{ posts.pagination.prev.link }}" class="pagination__prev">{% include 'icons/arrow.svg' %}</a>
        {% else %}
            <span class="pagination__prev" disabled>{% include 'icons/arrow.svg' %}</span>
        {% endif %}

        <p class="eta no-margin">Page {{ posts.pagination.current }} of {{ posts.pagination.total }}</p>

        {% if posts.pagination.next %}
            <a href="{{ posts.pagination.next.link }}" class="pagination__next">{% include 'icons/arrow.svg' %}</a>
        {% else %}
            <span class="pagination__next" disabled>{% include 'icons/arrow.svg' %}</span>
        {% endif %}

    </nav>
{% endif %}
