<section>

	{% if title %}
		<div class="row">
			<div class="col">
				<h2>{{ title }}</h2>
			</div>
		</div>
	{% endif %}

	<div class="row">
		{% if posts is not empty %}
			{% for post in posts %}
				<div class="col md:6 lg:4">
					{% include ['includes/card--' ~ post.post_type ~ '.twig', 'includes/card.twig'] %}
				</div>
			{% endfor %}
			<div class="col">
				{% include 'includes/pagination.twig' %}
			</div>
		{% else %}
			<div class="col">
				<p><em>Sorry, there's nothing to see here at the moment.</em></p>
			</div>
		{% endif %}
	</div>

</section>
