{% if posts is not empty %}
	<section>

		{% if heading %}
			<div class="row">
				<div class="col">
					<h2>{{ heading }}</h2>
				</div>
			</div>
		{% endif %}
		
		<div class="row">
			{% for post in posts %}
				<div class="col lg:4 md:6">
					{% include ['includes/card--' ~ post.post_type ~ '.twig', 'includes/card.twig'] %}
				</div>
			{% endfor %}
			{% include 'includes/pagination.twig' %}
		</div>

	</section>
{% endif %}
