<footer>
	<div class="row">
		<div class="col">

			{% if post.article_info %}
				<p>{{ fn('hungertv_parse_credits', post.article_info) }}</p>
			{% endif %}

			{% include 'includes/share.twig' %}
			{% include 'includes/tags.twig' %}

		</div>
	</div>
</footer>
