{# post.thumbnail signifies legacy #}

<header>

	<div class="row">
		<div class="col {% if post.hero_image %}lg:6{% elseif post.thumbnail %}lg:4 lg:offset-2{% else %}lg:6{% endif %}">
			{% include 'includes/cats.twig' %}
			<div class="eta">{{ post.date|date }}</div>
		</div>
		<div class="col {% if post.hero_image %}lg:6{% elseif post.thumbnail %}lg:4{% else %}lg:6{% endif %}">
			{% include 'includes/social.twig' with { classes: 'lg:justify-end' } %}
		</div>
	</div>

	<div class="row">
		<div class="col lg:9 lg:offset-2">
			<h1 class="omega">{{ post.title }}</h1>
			{% if post.standfirst %}
				<p class="beta">{{ post.standfirst }}</p>
			{% elseif post.article_excerpt %}
				<p class="beta">{{ post.article_excerpt }}</p>
			{% endif %}
		</div>
	</div>

</header>
