{# post.thumbnail signifies legacy #}

<header>

	<div class="row">
		<div class="col {% if post.hero_image %}lg:6{% elseif post.thumbnail %}lg:4 lg:offset-2{% else %}lg:6{% endif %}">
			{% include 'includes/cats.twig' %}
			<div class="eta">{{ post.date|date }}</div>
		</div>
		<div class="col {% if post.hero_image %}lg:6{% elseif post.thumbnail %}lg:4{% else %}lg:6{% endif %}">
			{% include 'includes/social.twig' with { classes: 'lg:justify-end' } %}
		</div>
	</div>

	<div class="row">
		<div class="col lg:8 lg:offset-2">
			<h1 class="omega">{{ post.title }}</h1>
		</div>
	</div>

	{% if post.standfirst or post.article_excerpt %}
		<div class="row">
			<div class="col lg:9 lg:offset-2">
				<p class="beta">{{ post.standfirst ? post.standfirst : post.article_excerpt }}</p>
			</div>
		</div>
	{% endif %}

</header>
