<footer>
	<div class="row">
		<div class="col">

			{{ post.article_info ? fn('hungertv_parse_credits', post.article_info) }}
			{% include 'includes/share.twig' %}
			{% include 'includes/tags.twig' %}

		</div>
	</div>
</footer>
