<ul class="social">
	<li><a href="https://instagram.com">{% include 'icons/instagram.svg' %}</a></li>
	<li><a href="https://facebook.com">{% include 'icons/facebook.svg' %}</a></li>
	<li><a href="https://twitter.com">{% include 'icons/twitter.svg' %}</a></li>
	<li><a href="https://pinterest.com">{% include 'icons/pinterest.svg' %}</a></li>
</ul>
