{% if post.terms('tag') %}
	Tags:
	<ul class="tags">
		{% for item in post.terms('tag') %}
			<li><a href="{{ item.link }}">{{ item.name|title|replace({ ' ': '' }) }}</a></li>
		{% endfor %}
	</ul>
{% endif %}
