<p><mark>signup.twig</mark></p>

<form action="">

	<div class="input">
		<input
			type="text"
			name="NAME"
			placeholder="Name*"
			aria-label="Name"
		/>
	</div>

	<div class="input">
		<input
			type="email"
			name="EMAIL"
			placeholder="Email*"
			aria-label="Email"
		/>
	</div>

</form>
