// Burger

$hamburger-padding-x: 1rem;
$hamburger-padding-y: 1rem;
$hamburger-layer-color: $black;
$hamburger-layer-border-radius: 0;
$hamburger-hover-opacity: 1;
$hamburger-types: (boring);

@import "hamburgers/_sass/hamburgers/hamburgers";
