// Button

.button {
	color: black;
	background-color: transparent;
	border: 1px solid black;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	padding: 1rem 2rem;

	&:hover,
	&:focus {
		color: white;
		background-color: black;
	}

	&:active {
		color: lightgrey;
	}
}
