// Button

.button {
	color: black;
	background-color: transparent;
	display: inline-block;
	border: 1px solid black;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	padding: rhythm(2) rhythm();
	@include link($black, $white);

	&:hover,
	&:focus {
		background-color: black;
	}
}

// Variants

.button--full {
	width: 100%;
}
