// Button

$button-border-width: 1px;

button {
	cursor: pointer;
}

.button {
	@extend .uppercase;
	color: $black;
	background-color: transparent;
	display: inline-block;
	border: $button-border-width solid;
	text-decoration: none;
	text-align: center;
	padding: rhythm(2) rhythm();
	@include link;
}

// Variants

.button--full {
	width: 100%;
}

.button--small {
	padding: rhythm(1) rhythm(2);
	@include iota;
}
