// Caption

.caption {
	@extend .eta;
	margin-top: rhythm(1);

	&:first-child {
		margin-top: 0;
	}

	~ button {
		@extend .eta;
		background: none;
		border: none;
		font-weight: bold;
		padding: 0;
		@include link;
	}
}
