// Card

.card {
	background-color: $brown-lightest;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
	height: 100%;

	a {
		position: relative;
		z-index: $z-2;
	}
}

.card__image {
	width: 100%;
}

.card__content {
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: space-between;
	z-index: $z-1;
	padding: rhythm();
}

.card__title a {
	position: static;

	&:after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

// Variants

.card--landscape {
	.card__title {
		margin: auto !important;
	}

	.card__image {
		width: calc(100% + #{rhythm()});
		max-width: none;
		margin: 0 rhythm(-2) rhythm(2);
	}
}

.card--portrait {
	.card__content {
		color: $white;
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		@include content-gradient;
	}
}
