// Card

.card {
	position: relative;
	text-align: center;

	a {
		position: relative;
		z-index: 1;
	}

	h3 a {
		position: static;

		&:after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
}

.card__content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	padding: rhythm();
}
