// Carousel

.carousel {
	.col {
		position: relative;
	}
}

.carousel__tray {
}

.carousel__control {
	background: none;
	border: none;
	padding: 0;
	@include link(white);
}

.carousel__counter {
	position: absolute;
	bottom: rhythm(8);
	left: rhythm(8);
}

// Variants

.carousel--full {
	.carousel__control--prev {
		position: absolute;
		top: 50%;
		left: -$gutter-width;
	}

	.carousel__control--next {
		position: absolute;
		top: 50%;
		right: -$gutter-width;
	}

	img {
		width: auto !important;
		height: 480px;
		margin-right: $gutter-width/2;
	}
}

.carousel__control--prev svg {
	transform: rotate(180deg);
}

// Slick

.slick-list {
	overflow: visible;
}
