// Carousel

.carousel {
	overflow: hidden;

	.col {
		position: relative;
	}

	img {
		max-height: 460px;
	}
}

.carousel__tray {
	cursor: grab;

	> div:not(:first-child) {
		display: none;
	}
}

.carousel__control {
	display: none;
	background: none;
	border: none;
	position: absolute;
	top: rhythm();
	min-width: calc((100vw - #{$grid-width/3 * 2}) / 2);
	height: calc(100% - #{rhythm(8)});
	filter: drop-shadow(0 0 1em $black);
	padding: 0;
	@include link($white);

	svg {
		width: rhythm(8);
		height: rhythm(8);
	}
}

.carousel__captions {
	margin-top: rhythm(-8);

	> div:not(:first-child) {
		display: none;
	}
}

// Variants

.carousel__control--prev {
	left: 0;
	transform: translateX(-100%);
}

.carousel__control--next {
	right: 0;
	transform: translateX(100%);
}

.carousel__control--prev svg {
	transform: rotate(180deg);
}

// Slick

.slick-list {
	overflow: visible;
}

.slick-slide {
	margin-right: $gutter-width/2;
}

@media (min-width: $lg-min) {
	.carousel__control {
		display: block;
	}

	.carousel__counter {
		color: $white;
		position: absolute;
		bottom: rhythm(8);
		left: rhythm(8);
		text-shadow: 0 0 1em $black;
	}
}
