// Cats

ul.cats {
	@extend .uppercase;
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: rhythm(-1) rhythm(-1) rhythm(3);

	a {
		display: block;
		padding: rhythm(1);
	}
}
