// CTA

.cta {
	background-color: $brown-lightest;
	position: relative;
	padding-top: rhythm(2);
	padding-bottom: rhythm(2);

	.row {
		position: relative;
	}
}

.cta__background {
	@extend .object-fit;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	mix-blend-mode: multiply;
	opacity: 0.2;
}

.cta__image {
	margin-bottom: rhythm();
}

@media (min-width: $md-min) {
	section.cta--tall {
		padding-top: rhythm(12);
		padding-bottom: rhythm(12);
	}
}
