// Flyout

#drawer {
	position: fixed;
	top: 0;
	left: 0;
	width: $drawer-width;
	height: 100vh;
	transform: translateX(-80%);
	transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
	padding: 2rem;

	&.open {
		transform: none;
	}
}

#drawer__toggle {
	position: absolute;
	top: 0;
	right: 0;
}
