// Flyout

#drawer {
	position: fixed;
	top: 0;
	left: 0;
	width: $drawer-width-open;
	height: 100vh;
	transform: translateX(
		calc(#{-$drawer-width-open} + #{rhythm($drawer-width-closed)})
	);
	transition: transform 0.5s $anim-curve;
	padding: rhythm(8) rhythm($drawer-width-closed) rhythm(8) rhythm(10);

	form {
		margin: rhythm(8) 0;
	}

	&.open {
		transform: none;
	}
}

#drawer__toggle {
	position: absolute;
	top: rhythm(6);
	right: rhythm(6);
}
