// Flyout

.drawer {
	color: $white;
	background-color: rgba($black, 0.92);
	position: absolute;
	top: rhythm($header-height);
	left: 0;
	width: 100%;
	max-height: calc(100vh - #{rhythm($header-height)});
	// width: $drawer-width-open;
	// height: 100vh;
	// transform: translateX(
	// 	calc(#{-$drawer-width-open} + #{rhythm($drawer-width-closed)})
	// );
	transform: translateY(-200%);
	transition: transform 0.5s $anim-curve;
	overflow: auto;
	// padding: rhythm(8) rhythm($drawer-width-closed) rhythm(8) rhythm(10);

	&.open {
		transform: none;
	}
}

// Variants

#drawer--nav {
	padding-top: rhythm(8);
	padding-bottom: rhythm(6);
}
