// Embed

// .embed iframe {
// 	width: 100%;
// }

iframe,
.twitter-tweet {
	width: 100%;
	margin: auto !important;
}

// Variants

.embed--soundcloud iframe {
	height: auto;
}

.embed--video {
	position: relative;
	padding-bottom: percentage(9/16);

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
