// Form

.form {
	.row {
		margin-bottom: rhythm();

		&:last-child {
			margin-bottom: 0;
		}
	}
}

@media (min-width: $md-min) {
	.footer .form--signup .row:last-child .col:last-child {
		text-align: right;
	}
}
