// Header

.header {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: $z-6;
}

.header__bar {
	background-color: $white;
	position: relative;
	height: rhythm($header-height);
	z-index: 1;

	.col {
		display: flex;
		align-items: center;

		&:last-child {
			justify-content: flex-end;
		}
	}

	.button {
		margin-right: rhythm();
	}
}

.hamburger {
	position: relative;
	left: rhythm(-2);
}

// Variants

.home .header__bar {
	background-color: transparent;
	transition: background-color 0.5s $anim-curve;

	.hamburger,
	.button,
	button {
		opacity: 0;
		transition: opacity 0.5s $anim-curve;
	}

	&.visible {
		background-color: $white;

		.hamburger,
		.button,
		button {
			opacity: 1;
		}
	}
}
