// Header

.header {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: $z-6;
}

.header__bar {
	position: relative;
	height: rhythm($header-height);
	z-index: 1;
	transition: background-color 0.5s $anim-curve;

	.col {
		display: flex;
		align-items: center;

		&:last-child {
			justify-content: flex-end;
		}
	}

	.button {
		margin-right: rhythm();
	}

	&.visible {
		background-color: $white;
	}
}

.hamburger {
	position: relative;
	left: rhythm(-2);
}
