// Header

.header {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: $z-6;
}

.header__bar {
	background-color: $white;
	position: relative;
	height: rhythm($header-height);
	z-index: 1;
	box-shadow: 0 0 rhythm() $grey;

	.col {
		display: flex;
		align-items: center;

		&:last-child {
			justify-content: flex-end;
		}
	}

	.button {
		margin-right: rhythm();
	}
}

.hamburger {
	position: relative;
	left: rhythm(-2);
}

// Variants

.home .header__bar {
	opacity: 0;
	visibility: hidden;
	transition: all 0.5s $anim-curve;

	&.visible {
		opacity: 1;
		visibility: visible;
	}
}
