// Hero

.hero {
	position: relative;
	// height: 630px;
	// overflow: hidden;
	text-align: center;
}

// .hero__image {
// 	position: absolute;
// 	width: 100%;
// 	height: 100%;
// 	object-fit: cover;
// }

.hero__logo {
	color: white;
	display: none;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
}

.hero__logo svg {
	min-height: rhythm(8);
	height: calc(300px - calc(var(--scroll) * 1px));
}

.hero__content {
	@extend .col, .card__content;
	color: $white;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: absolute;
	top: 0;
	height: 100%;
}

@media (min-width: $lg-min) {
	.hero__logo {
		display: block;
	}

	.hero__content {
		justify-content: flex-end;

		.cats {
			order: 1;
			margin: rhythm() 0;
		}
	}
}
