// Hero

.hero {
	position: relative;
	height: 540px;
	max-height: calc(var(--viewport-height) - #{rhythm($header-height)});
	overflow: hidden;
	text-align: center;
}

.hero__image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.hero__logo {
	display: none;
	align-items: center;
	position: absolute;
	top: 20vh;
	right: 0;
	left: 0;
	width: 100%;
	max-width: $grid-width;
	margin: auto;
	padding-right: $gutter-width/2;
	padding-left: $gutter-width/2;

	svg {
		// width: $grid-width;
		margin: auto;
	}

	&.animate {
		transition: all 0.5s $anim-curve;

		svg {
			transition: all 0.5s $anim-curve;
		}
	}

	// &.mini {
	position: fixed;
	top: 0;
	width: fit-content;
	height: rhythm($header-height);
	z-index: $z-7;

	svg {
		width: auto;
		height: rhythm();
	}
	// }
}

.hero__logo svg {
	position: relative;
	min-height: rhythm();
	height: calc(312px - calc(var(--scroll) * 1px));
	top: calc(288px - calc(var(--scroll) * 1px));
}

.hero__content {
	@extend .col, .card__content;
	color: $white;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: absolute;
	top: 0;
	height: 100%;
	@include content-gradient;

	a {
		@include link($hover-color: $yellow);
	}
}

// Variants

.hero--coloured-image .hero__image {
	mix-blend-mode: multiply;
	filter: grayscale(1);
}

.hero--solid-colour,
.hero.no-image {
	padding-bottom: 50%;

	h2 {
		@include omega;
	}
}

@media (min-width: $md-min) {
	.hero {
		height: 830px;
	}
}

@media (min-width: $lg-min) {
	.hero__logo {
		display: flex;
	}

	.hero__content {
		justify-content: flex-end;

		.cats {
			order: 1;
			margin: rhythm(3) 0;
		}
	}
}
