// Hero

.hero {
	position: relative;
	height: 540px;
	max-height: calc(var(--height) - #{rhythm($header-height)});
	overflow: hidden;
	text-align: center;
}

.hero__image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.hero__logo {
	display: none;
	position: fixed;
	top: (calc(var(--scroll) * -1px));
	right: 0;
	left: 0;
	height: rhythm($header-height);
	max-width: $grid-width;
	z-index: $z-7;
	padding-right: $gutter-width/2;
	padding-left: $gutter-width/2;
	margin: auto;
	@include logo-height(33vh);

	@media (min-height: 830px) {
		@include logo-height(830px / 3);
	}

	svg {
		position: relative;
		width: auto;
		min-height: rhythm();
		transition: color $anim-time $anim-curve;
		margin: auto;
	}

	&.fixed {
		svg {
			height: rhythm(); // Required to stop logo enlarging
		}
	}

	&:not(.fixed) {
		color: $white;
	}
}

.hero__content {
	@extend .col, .card__content;
	color: $white;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: absolute;
	top: 0;
	height: 100%;
	@include content-gradient;

	a {
		@include link($hover-color: $yellow);
	}
}

// Variants

.hero--coloured-image .hero__image {
	mix-blend-mode: multiply;
	filter: grayscale(1);
}

.hero--solid-colour,
.hero.no-image {
	.hero__content {
		background: none;
	}

	h2 {
		@include omega;
	}
}

@media (min-width: $md-min) {
	.hero {
		height: 830px;
	}

	.hero__logo {
		display: flex;
		// align-items: center;
		// justify-content: center;
	}

	.hero__content {
		justify-content: flex-end;

		.cats {
			order: 1;
			margin: rhythm(3) 0;
		}
	}
}
