// Home

@media (min-width: $md-min) {
	.home {
		padding-top: 0;

		.hero {
			max-height: 100vh;
		}

		.header__bar {
			opacity: 0;
			visibility: hidden;

			&.animate {
				transition: opacity $anim-time $anim-curve,
					visibility $anim-time $anim-curve;
			}

			&.visible {
				opacity: 1;
				visibility: visible;
			}
		}

		.logo {
			display: none;
		}
	}
}
