// Image link

.image-link {
	display: block;

	.image {
		transition: all $anim-time $anim-curve;
	}

	&:hover,
	&:focus {
		opacity: 1;

		.image {
			filter: grayscale(1);
			mix-blend-mode: multiply;
		}
	}

	&:active {
		opacity: 0.9;
	}
}
