// Input

input {
	accent-color: $primary;
}

input[type="checkbox"] {
	cursor: pointer;
	margin-right: rhythm(1);
}

label {
	cursor: pointer;
}

.input {
	border-bottom: $button-border-width solid;

	input {
		color: inherit;
		background: none;
		border: none;
		outline: none;
		width: 100%;
		line-height: inherit;
		padding: rhythm(1) 0;
	}

	button {
		@include icon-button;
	}

	&:focus-within {
		border-color: $primary;
	}
}

// Variants

.input--button {
	position: relative;
	padding-right: rhythm(8);

	button {
		position: absolute;
		top: 0;
		right: rhythm(-1);
	}
}

// Placeholder
// Source: https://css-tricks.com/snippets/css/style-placeholder-text/

::-webkit-input-placeholder {
	color: inherit;
	opacity: $hover-opacity;
}

:-moz-placeholder {
	/* Firefox 18- */
	color: inherit;
	opacity: $hover-opacity;
}

::-moz-placeholder {
	/* Firefox 19+ */
	color: inherit;
	opacity: $hover-opacity;
}

:-ms-input-placeholder {
	color: inherit;
	opacity: $hover-opacity;
}
