// Input

.input {
	position: relative;
	border-bottom: $button-border-width solid $black;
	padding-right: rhythm(8);

	input {
		border: none;
		outline: none;
		width: 100%;
		line-height: inherit;
		padding: rhythm(1) 0;
	}

	button {
		background: none;
		border: none;
		position: absolute;
		top: 0;
		right: rhythm(-1);
		padding: rhythm(1);
		@include link;

		svg {
			width: rhythm();
			height: rhythm();
		}
	}

	&:focus-within {
		border-color: $primary;
	}
}
