// Navigation

ul.navigation {
	a {
		display: inline-block;
		padding-bottom: rhythm(2);
	}
}

@media (min-width: $md-min) {
	ul.navigation {
		columns: 3;
		margin-top: rhythm(8);
		margin-bottom: rhythm(6);
		@include beta;
	}
}
