// Rich Text Editor

.rte {
	margin-bottom: rhythm();

	&:last-child {
		margin-bottom: 0;
	}

	a,
	[style*="underline"] {
		text-decoration: underline;
		text-underline-offset: 1px;
	}

	ul,
	ol {
		padding-left: 1em;
		margin: 0 0 rhythm();

		&:last-child {
			margin-bottom: 0;
		}
	}

	img {
		height: auto;
	}
}
