// Section

section {
	margin-top: rhythm();
	margin-bottom: rhythm();

	&[style*="background"] {
		padding-top: rhythm(2);
		padding-bottom: rhythm(2);
		margin-top: 0;
		margin-bottom: 0;
	}
}

// Variants

section.light {
	color: $white;
}

@media (min-width: $lg-min) {
	section {
		margin-top: rhythm(8);
		margin-bottom: rhythm(8);

		&[style*="background"] {
			padding-top: rhythm(6);
			padding-bottom: rhythm(6);
		}
	}
}
