// Social

ul.social {
	display: flex;
	justify-content: space-between;
	margin: rhythm(2) rhythm(-2) rhythm(-2);

	a {
		display: block;
		padding: rhythm(2);
	}

	svg {
		width: rhythm();
		height: rhythm();
	}
}
