// Social

ul.social {
	display: flex;
	margin: rhythm(-2.5);

	a {
		display: block;
		padding: rhythm(2.5);
	}

	svg {
		width: rhythm(3);
		height: rhythm(3);
	}
}

@media (min-width: $lg-min) {
	header .social {
		justify-content: flex-end;
	}
}
