<section style="
	color: {{ item.copy_colour }};
	background-color: {{ item.background_colour }};
">
	<div class="row">
		<div class="col lg:8 lg:offset-2 center">

			<h2>{{ item.title }}</h2>

			<div class="rte">
				{{ item.body }}
			</div>

			{% include 'includes/image.twig' with { classes: 'cta__image' } %}
			{% include 'includes/button.twig' %}

		</div>
	</div>
</section>
