<section>
	<div class="row{{ item.image_align == 'right' ? ' reverse' }}">
		{% if item.image_align %}
			<div class="col lg:2-3">
				<img src="https://via.placeholder.com/740x500" alt="" />
			</div>
			<div class="col lg:1-3">
				<p class="uppercase">Category</p>
				<h3>Title</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
			</div>
		{% else %}
			<div class="col">
				<h2>Featured Article</h2>
				<img src="https://via.placeholder.com/1140x500" alt="" />
			</div>
			<div class="col lg:2-3">
				<p class="uppercase">Category</p>
				<h3>Title</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
			</div>
		{% endif %}
	</div>
</section>
