<section style="
	color: {{ item.copy_colour }};
	background-color: {{ item.background_colour }};
">
	<div class="row">
		<div class="col">
			<h2>{{ item.title }}</h2>
			{% include 'forms/signup.twig' %}
		</div>
	</div>
</section>
