<section
	class="{{ item.copy_colour }}"
	style="background-color: {{ item.background_colour }}"
>
	<div class="row">
		<div class="col lg:8">
			<h2>Sign up to the Hunger weekly newsletter including the latest articles and news about events</h2>
		</div>
	</div>
	{% include 'forms/signup.twig' %}
</section>
